RESEND_API_KEY=re_jRHU7s3R_EpYsUoq2P4YzkWksasF5Atnu
CONTACT_TO_EMAIL=akibaartmadrid@gmail.com
CONTACT_FROM_EMAIL=AKIBA akibaartmadrid@gmail.com
CAL_COM_LINK=https://app.cal.com/onboarding/personal/settings
